<html>
<head>
    <title>WebDict</title>
</head>
<body>
    {{ now }}
    <h1>Dictionary</h1>
    <form method="GET" action="/search" id="frm_main">
        <input type="text" id="txt_word" name="word" placeholder="English word" value="{{ word }}">
        <input type="submit" value="Search">
    </form>
    <div id="div_out">
    {{ result }}
    </div>
    <script type="text/javascript">
        var frmMain = document.getElementByID("frm_main");
        var divOut = document.getElementByID("div_out");
        var txtWord = document.getElementByID("txt_Word");

        frmMain.onsubmit = function(e){
            loadWord();
            return false;
        }

        function loadWord() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              divOut.innerHTML = this.responseText;
            }
          };
          var url = "/api/search?word=" + txtWord.value;
            xhttp.open("GET", url, true);
            xhttp.send();
        }
    </script>

</body>
</html>